<h1>My blog</h1>
<h2>Welcome to my Blog</h2>
<p>To see the blogs go <a href="/api/blogs/">here</a></p>

<p>Add a Blog</p>
<form method="POST" action="/api/write">
    Author: <input type="text" name="author"><br>
    Title: <input type="text" name="title"><br>
    Article: <input type="text" name="article"><br>
    <button type="submit">Add</button>
</form>